<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatPod</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

    <nav>
        <div class="navLeft">
            <h1>MatPod</h1>
            <a href="#">About</a>
            <a href="#">Download</a>
            <a href="#">Discover</a>
        </div>
        <div class="navRight">
            <div class="prof">
                <img src="../assets/prof.jpg" alt="">
                <div class="profMore">
                    <div class="ps">
                        <h5>Have an Account with Us?</h5>
                        <a href="/auth/login">Login</a>
                    </div>
                    <hr>
                    <div class="ps">
                        <h5>No Account? No Problem!</h5>
                        <a href="/auth/register">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="secs">
        <section class="hero">
            <div class="heroLeft">
                <img src="../assets/ill.svg" alt="">
            </div>
            <div class="heroRight">
                <h1>Boost your<br>General Knowledge</h1>
                <a href="/auth/login">Login</a>
            </div>
        </section>
        
        <section class="var">
            <div class="varTop">
                <h1>Discover Awesome Quizzes</h1>
                <a href="#">Discover</a>
            </div>
            <div class="varBottom">
                <div class="card">
                    <h2>Find Pods made by People</h2>
                    <p>Discover and support Quizzes made by people all over the world</p>
                    <img src="../assets/ind.svg" alt="">
                </div>
                <div class="card">
                    <h2>Make quirky and interesting Pods</h2>
                    <p>Make your own quizzes and grow your knowledge with MatPod</p>
                    <img src="../assets/make.svg" alt="">
                </div>
                <div class="card">
                    <h2>Grow with the Community</h2>
                    <p>Get in touch with people and share your Pods</p>
                    <img src="../assets/com.svg" alt="">
                </div>
            </div>
        </section>

        <section class="abt">
            <div class="abtNull"></div>
            <div class="content">
                <h1>About MatPod</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus nostrum, fugit ad aut quos adipisci quia? Libero tempora doloribus perferendis doloremque pariatur itaque maxime voluptate veritatis. Doloribus vero maxime impedit!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ipsam nulla obcaecati dolores magnam expedita a ducimus nemo reiciendis. Optio animi maxime odit rerum doloremque sunt non inventore enim voluptates.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <div class="imgCont">
                    <img src="../assets/about.svg" alt="">
                </div>
            </div>
        </section>

        <section class="start">
            <h1>Get Started!</h1>
            <a href="/auth/login">Login</a>
        </section>

        <footer>
            <div class="fLeft">
                <h1>Follow the Saga</h1>
                <div class="social">
                    <img src="../assets/icons/instagram.svg" alt="">
                    <img src="../assets/icons/facebook.svg" alt="">
                    <img src="../assets/icons/twitter.svg" alt="">
                </div>
                <div class="grid">
                    <img src="../assets/grid/1.jpg" alt="">
                    <img src="../assets/grid/2.jpg" alt="">
                    <img src="../assets/grid/3.jpg" alt="">
                    <img src="../assets/grid/4.jpg" alt="">
                    <img src="../assets/grid/5.jpg" alt="">
                    <img src="../assets/grid/6.jpg" alt="">
                </div>
            </div>
            <div class="fRight">
                <h1>Subscribe to our Newsletter</h1>
                <div class="input">
                    <input type="text" placeholder="E - Mail">
                    <button>Subscribe</button>
                </div>
                <h2>More links</h2>
                <div class="linkCont">
                    <div class="link">
                        <a href="#">Career</a>
                        <a href="#">Pods</a>
                        <a href="#">Competitions</a>
                        <a href="#">Forums</a>
                    </div>
                    <div class="link">
                        <a href="#">Contact Us</a>
                        <a href="#">Quizzes</a>
                        <a href="#">About</a>
                        <a href="#">MatPod&trade;</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>