<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatPod - Results</title>
    <link rel="stylesheet" href="../css/results.css">
</head>
<body>

    <main>
        <div class="circ">
            <div id="perc"></div>
            <h1 class="score">Score: <span id="score"><%= score %></span>/<span id="total"><%= ques %></span></h1>
            <h1>Remark: <span id="rem"></span></h1>
            <form action="/quiz/results" method="POST">
                <button type="submit">Go Back</button>
            </form>
        </div>
    </main>

    <script src="../js/res.js"></script>
</body>
</html>