/* Fonts --------------------- */
@font-face {
  font-family: reg;
  src: url(../fonts/Nexa\ Light\ 350.otf);
}
@font-face {
  font-family: b;
  src: url(../fonts/Nexa\ Bold\ 650.otf);
}

/* Standard --------------------- */
html {
  scroll-behavior: smooth;
}
::root {
  --white: #f8f4f9;
  --orange: #f46036;
  --blue: #0c0c0c;
  --black: #0197f6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: b;
}
a {
  color: #0c0c0c;
  text-decoration: none;
}
body {
  background: #f8f4f9;
}
main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: url(../assets/add.svg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 70%;
  border-radius: 25px;
  background: #f8f4f9;
  color: #0c0c0c;
  box-shadow: 0 0 90px #0c0c0c6e;
  padding: 4vh 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 5vh;
  padding: 1vh 0;
}
form input {
  border: #0197f6 2px solid;
  padding: 1vh 1vw;
  width: 80%;
  font-size: 2vh;
  border-radius: 20px;
}
.q,
.g {
  margin-bottom: 5vh;
}
input[name="option"] {
  margin-bottom: 1vh;
}
button {
  border: none;
  background: #0197f6;
  color: #f8f4f9;
  padding: 1vh 3vw;
  border-radius: 20px;
  font-size: 2vh;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 3vw;
}
button:hover {
  background: #0870b1;
}
h2 {
  text-align: left;
  width: 80%;
  padding-left: 0.6vw;
}
.btns {
  margin: 2vh 0;
}
